@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.76);
  border-radius: 5px;
}

@theme {
  --font-sans: var(--font-inter);
  --color-background-2: rgba(255, 255, 255, 0.6);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-light-black: #141414;
  --font-instrument: var(--font-instrument-serif);
  --color-button-border: #292b2b;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-border-generic: rgba(255, 255, 255, 0.07);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
  --navbar-height: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    -webkit-tap-highlight-color: transparent;
  }
  button {
    @apply cursor-pointer;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    font-weight: 700;
  }
  h2 {
    font-size: 44px;
    letter-spacing: 0em;
    line-height: 1.2em;
    font-weight: 500;
    @apply max-md:text-[36px];
  }
  h3 {
    font-size: 28px;
    letter-spacing: -0.01em;
    line-height: 120%;
    font-weight: 500;
  }
  h4 {
    font-size: 22px;
    letter-spacing: -0.04em;
    line-height: 1.4em;
    font-weight: 700;
  }
  h5 {
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.2em;
    font-weight: 500;
  }
}

@layer components {
  .hero {
    height: calc(100vh - var(--navbar-height));
    margin-top: var(--navbar-height);
    position: relative;
    background: url('/landing.jpg') no-repeat center center;
    background-size: cover;
    @apply max-md:bg-[url('/landing.jpg')] max-md:bg-[65%_center] max-md:bg-cover max-md:bg-no-repeat;
  }

  .hero_highlight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-90%);
    max-width: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    /* width: fit-content; */
    @apply max-md:transform-none max-md:-left-[10%] max-md:w-full;
  }

  .section_border {
    @apply h-[4px] w-full;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 1) 100%);
  }

  .about-grid {
    background: url('/grid_bg.jpg') no-repeat center center;
    background-size: cover;
  }

  .about-grid-overlay {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .button {
    background: rgb(255, 255, 255);
    background: linear-gradient(rgb(20, 20, 20) 0%, rgba(255, 255, 255, 0.07) 100%);
  }

  .skill-right-box {
    @apply absolute right-[-22%] max-lg:right-[-30%] max-xl:right-[-25%] min-h-[115%] max-h-[50vh] min-w-[350px] w-[20vw] bg-light-black rounded-2xl p-3.5 space-y-7 top-[-5%];
    --angle: 300deg;
  }

  .skill-right-box::after {
    content: '';
    @apply absolute w-[100.5%] h-[100.5%] rounded-2xl;
    background-image: conic-gradient(
      from var(--angle),
      rgba(255, 255, 255, 0.9) 10%,
      transparent 15%
    );
    top: -0.25%;
    left: -0.25%;
    z-index: -1;
    transform-origin: 50% 50%;
    transform: rotate(-180deg);
    pointer-events: none;
    filter: blur(5px);
    opacity: 0.5;
  }

  .skill-right-box::before {
    content: '';
    @apply absolute w-[100.5%] h-[100.5%] rounded-2xl;
    background-image: conic-gradient(
      from var(--angle),
      rgba(255, 255, 255, 0.9) 10%,
      transparent 15%
    );
    top: -0.25%;
    left: -0.25%;
    z-index: -1;
    transform-origin: 50% 50%;
    pointer-events: none;
    filter: blur(5px);
    opacity: 0.5;
  }

  .skill-left-box {
    @apply absolute left-[-22%] max-lg:left-[-30%] max-xl:left-[-25%] min-h-[115%] max-h-[50vh] min-w-[350px] w-[20vw] bg-light-black rounded-2xl p-3.5 space-y-7 top-[-5%];
  }

  .skill-left-box::after {
    content: '';
    @apply absolute w-[100.5%] h-[100.5%] rounded-2xl;
    background-image: conic-gradient(from 30deg, rgba(255, 255, 255, 0.9) 10%, transparent 15%);
    top: -0.25%;
    left: -0.25%;
    z-index: -1;
    transform-origin: 50% 50%;
    pointer-events: none;
    filter: blur(5px);
    opacity: 0.5;
  }

  .skill-left-box::before {
    content: '';
    @apply absolute w-[100.5%] h-[100.5%] rounded-2xl;
    background-image: conic-gradient(from 210deg, rgba(255, 255, 255, 0.9) 10%, transparent 15%);
    top: -0.25%;
    left: -0.25%;
    z-index: -1;
    transform-origin: 50% 50%;
    pointer-events: none;
    filter: blur(5px);
    opacity: 0.5;
  }

  .skill-gradient {
    @apply absolute h-full w-full left-0 top-0;
    pointer-events: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 80%,
      rgba(20, 20, 20, 1) 100%
    );
  }

  .project-carousel-gradient {
    background: var(--background);
    background: linear-gradient(
      90deg,
      var(--background) 0%,
      rgba(2, 4, 9, 0) 10%,
      rgba(2, 4, 9, 0) 50%,
      rgba(2, 4, 9, 0) 90%,
      var(--background) 100%
    );
  }
}

@utility text-p1-semibold {
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 1.2em;
  font-weight: 600;
  font-style: italic;
}

@utility text-p2-semibold {
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 16px;
  font-weight: 500;
  font-style: italic;
}

@utility text-p1 {
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.6em;
  font-weight: 400;
  color: var(--color-background-2);
}

@utility text-p3 {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.3em;
  font-weight: 400;
  font-style: italic;
}

@utility button-radial {
  background: radial-gradient(
    20.7% 50% at 50% 100%,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@utility button-border {
  border-color: var(--color-button-border);
  border-width: 1px;
  border-style: solid;
  backdrop-filter: blur(5px);
  box-shadow:
    rgba(0, 0, 0, 0.68) 0px -0.48175px 0.48175px -1.25px inset,
    rgba(0, 0, 0, 0.596) 0px -1.83083px 1.83083px -2.5px inset,
    rgba(0, 0, 0, 0.235) 0px -8px 8px -3.75px inset;
}

@utility screen-bottom-blur {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: transparent;
  transform: rotate(-13deg);
}

@utility header-gradient-right {
  background-image: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background-color: rgba(0, 0, 0, 0);
}

@utility header-gradient-left {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background-color: rgba(0, 0, 0, 0);
}
